<nav class="navbar">
  <ul><li *ngIf="userEmail" class="user-email">{{ userEmail }}</li>    
    <li><a [routerLink]="['/chat']">Chat</a></li>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/yo']">Sobre Mi</a></li>
    <li><a [routerLink]="['/encuesta']">Encuesta</a></li>
    <li><a [routerLink]="['/puntajes']">Puntajes</a></li>
   <li class="logout-right"><a (click)="cerrarSesion()" class="logout-button">Log Out</a></li>    
  </ul>
</nav>

<div class = "contenido">
    <h1 class = "titulo">Mayor o Menor</h1>
    <div class = "juego">
        <div class="cartas">
           
            <img [src]="cartaActual?.url" style="height: 400px; width: 240px;" />  
            <img [src]="mostrarSiguiente ? cartaSiguiente?.url : 'tapa.png'" style="height: 400px; width: 240px;" />
          </div>

        <div class = "botones">
            <button (click)="Mayor()">MAYOR</button>
            <button (click)="Igual()">IGUAL</button>
            <button (click)="Menor()">MENOR</button>
        </div>

        <div class = "resultados">
            <h2>PUNTOS: {{ puntos }}</h2>
            <h2>VIDAS: {{ vidasTotales  }}</h2>
        </div>
    </div>     
</div>
